.env

node_modules

package-lock.json

team_monitor.egg-info

*.pyc

*.pyo

*.pyd

build

.env

.env.local

.env.development.local

.env.test.local

.env.production.local

.env.development

.env.test

dist

.idea

.vscode

test